<template>
  <div class="container flex-grow-1">
    <div class="row mt-4 mb-4">
      <div class="col text-center">
        <h1>
          <span v-if="contactAction == 'edit'">Edit </span>
          {{ form.name }}'s Profile
        </h1>
      </div>
    </div>

    <form>
      <!-- Name Input block -->
      <div class="form-group row justify-content-center">
        <label
          for="nameId"
          class="col-3 col-md-2 offset-md-1 col-lg-1 offset-lg-1 col-form-label col-form-label-lg text-right text-vodagray pt-1"
        >
          Name:
        </label>
        <div class="col-9 col-md-5 col-lg-4">
          <input
            type="text"
            id="nameId"
            class="form-control"
            v-model="$v.form.name.$model"
            :class="{
              'form-control-plaintext': contactAction == 'view',
              'is-valid': validateState('name'),
              'is-invalid': validateState('name') === false
            }"
          />
          <div class="invalid-feedback" v-if="!$v.form.name.required">
            This field is required.
          </div>
          <div class="invalid-feedback" v-else-if="!$v.form.name.minLength">
            Please enter a minimum 4 characters long name.
          </div>
        </div>
      </div>

      <!-- Email Input block -->
      <div class="form-group row justify-content-center">
        <label
          for="emailId"
          class="col-3 col-md-2 offset-md-1 col-lg-1 col-form-label col-form-label-lg text-right text-vodagray pt-1"
        >
          E-mail:
        </label>
        <div class="col-9 col-md-5 col-lg-4">
          <input
            type="text"
            id="emailId"
            class="form-control"
            v-model="$v.form.email.$model"
            :class="{
              'form-control-plaintext text-secondary': contactAction == 'view',
              'is-valid': validateState('email'),
              'is-invalid': validateState('email') === false
            }"
          />
          <div class="invalid-feedback" v-if="!$v.form.email.required">
            This field is required.
          </div>
          <div class="invalid-feedback" v-if="!$v.form.email.email">
            Please enter a valid email.
          </div>
        </div>
      </div>

      <!-- Phone Input block -->
      <div class="form-group row justify-content-center pb-3">
        <label
          for="phoneId"
          class="col-3 col-md-2 offset-md-1 col-lg-1 col-form-label col-form-label-lg text-right text-vodagray pt-1"
        >
          Phone:
        </label>
        <div class="col-9 col-md-5 col-lg-4">
          <input
            type="text"
            class="form-control"
            id="phoneId"
            v-model="$v.form.phone.$model"
            :class="{
              'form-control-plaintext text-secondary': contactAction == 'view',
              'is-valid': validateState('phone'),
              'is-invalid': validateState('phone') === false
            }"
          />
          <div class="invalid-feedback" v-if="!$v.form.phone.required">
            This field is required.
          </div>
          <div class="invalid-feedback" v-if="!$v.form.phone.phoneNumber">
            Please enter a valid phone number.
          </div>
        </div>
      </div>

      <!-- Buttons block -->
      <div class="form-group row justify-content-center ">
        <!-- In case of Edit -->
        <template v-if="contactAction == 'edit'">
          <button
            type="button"
            class="btn btn-outline-primary m-2 grow btn-lg"
            @click.prevent="updateContact"
          >
            <span class="small align-text-top p-3">
              Save Contact
            </span>
          </button>
        </template>

        <!-- In case of View -->
        <template v-else>
          <button
            type="button"
            class="btn btn-outline-secondary m-2 grow btn-lg"
            @click.prevent="deleteContact"
          >
            <span class="small align-text-top p-3">
              Delete
            </span>
          </button>
          <button
            type="button"
            class="btn btn-outline-primary m-2 grow btn-lg"
            @click.prevent="
              $router.push({
                name: 'EditContact',
                params: { contactId: form.id, contactAction: 'edit' }
              })
            "
          >
            <span class="small align-text-top p-3">
              Edit
            </span>
          </button>
        </template>
      </div>
    </form>

    <!-- floating add new contact button -->
    <add-new-button></add-new-button>
  </div>
</template>

<script>
import AddNewButton from "@/components/AddNewButton.vue";
import { required, email, minLength } from "vuelidate/lib/validators";

export default {
  name: "EditContact",
  components: {
    AddNewButton
  },
  props: {
    contactId: {
      type: Number
    },
    contactAction: {
      type: String,
      default: "view"
    }
  },
  data() {
    return {
      form: {
        id: null,
        name: "",
        email: "",
        phone: ""
      }
    };
  },
  validations: {
    form: {
      name: {
        required,
        minLength: minLength(4)
      },
      email: {
        required,
        email
      },
      phone: {
        required,
        phoneNumber: phoneNumber => {
          // eslint-disable-next-line
          return phoneNumber == "" || /^(\+)?[0-9]{7,}$/.test(phoneNumber)
        }
      }
    }
  },
  mounted() {
    let contact = this.$store.getters.getContactById(this.contactId);
    if (contact != null) {
      this.form.id = contact.id;
      this.form.name = contact.name;
      this.form.email = contact.email;
      this.form.phone = contact.phone;
    } else {
      console.warn(
        `User with ${this.contactId} ID not found, rerouting to main page`
      );
      this.$router.push({ name: "Contacts" });
    }
  },
  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? ($error ? false : true) : null;
    },
    updateContact() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this.$store.commit("UPDATE_CONTACT", this.form);
      this.$store.commit("CLEAR_FILTERS");
      this.$router.push({ name: "Contacts" });
    },
    deleteContact() {
      // TODO add a confirmation dialog
      this.$store.commit("DELETE_CONTACT", this.form.id);
      this.$store.commit("CLEAR_FILTERS");
      this.$router.push({ name: "Contacts" });
    }
  }
};
</script>
