<template>
  <div class="container flex-grow-1">
    <div class="row mt-4 mb-3">
      <div class="col text-center">
        <h1>Contacts</h1>
      </div>
    </div>

    <!-- Letter filter section -->
    <div class="row mt-5 mb-3">
      <div class="col text-center">
        <button
          type="button"
          class="btn btn-link text-vodadarkgray text-decoration-none ml-1 mr-1"
          v-for="firstLetter in nameFirstLetters"
          :key="firstLetter"
          @click.prevent="setFirstLetterFilter(firstLetter)"
        >
          <span :class="{ 'text-secondary': firstLetter == filterFirstLetter }">
            <h3 class="red-hover">{{ firstLetter }}</h3>
          </span>
        </button>
      </div>
    </div>

    <!-- displaying the cards if any available-->
    <div class="row" v-if="contacts.length > 0">
      <card v-for="contact in contacts" :key="contact.id" :contact="contact">
      </card>
    </div>

    <!-- display message if no cards are available -->
    <div class="row" v-if="contacts.length === 0 && filterText.length > 0">
      <div class="col text-center">
        <!-- eslint-disable-next-line -->
        No contacts found with this search. If you like to you can add a new contact 
        <span
          class="text-secondary cursor-pointer"
          @click="$router.push('new')"
        >
          here
        </span>
        .
      </div>
    </div>

    <!-- floating add new contact button -->
    <add-new-button></add-new-button>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Card from "@/components/Card.vue";
import AddNewButton from "@/components/AddNewButton.vue";

export default {
  name: "Contacts",
  components: {
    Card,
    AddNewButton
  },
  computed: {
    ...mapGetters({
      contacts: "getFilteredContacts",
      filterText: "getFilterText",
      nameFirstLetters: "getNameFirstLetters",
      filterFirstLetter: "getFilterFirstLetter"
    })
  },
  methods: {
    setFirstLetterFilter(letter) {
      if (letter == this.filterFirstLetter) letter = "";
      this.$store.commit("UPDATE_FILTER_FIRST_TEXT", letter);
    }
  }
};
</script>
