<template>
  <div class="container flex-grow-1">
    <div class="row mt-4 mb-3">
      <div class="col text-center">
        <h1>Add New Contact</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11 col-sm-12">
        <form @submit.stop.prevent="onSubmit">
          <!-- Name Input block -->
          <div class="form-group row">
            <label for="nameid">Name</label>
            <input
              class="form-control"
              id="nameid"
              placeholder="Enter Name"
              v-model="$v.form.name.$model"
              :class="{
                'is-valid': validateState('name'),
                'is-invalid': validateState('name') === false
              }"
            />
            <div class="invalid-feedback" v-if="!$v.form.name.required">
              This field is required.
            </div>
            <div class="invalid-feedback" v-else-if="!$v.form.name.minLength">
              Please enter a minimum 4 characters long name.
            </div>
            <div class="valid-feedback" v-if="!$v.form.name.$error">
              Looks okay.
            </div>
          </div>

          <!-- Email Input block -->
          <div class="form-group row">
            <label for="emailid">Email address</label>
            <input
              class="form-control"
              id="emailid"
              placeholder="Enter Email"
              v-model="$v.form.email.$model"
              :class="{
                'is-valid': validateState('email'),
                'is-invalid': validateState('email') === false
              }"
            />
            <div class="invalid-feedback" v-if="!$v.form.email.required">
              This field is required.
            </div>
            <div class="invalid-feedback" v-if="!$v.form.email.email">
              Please enter a valid email.
            </div>
            <div class="valid-feedback" v-if="!$v.form.email.$error">
              Looks okay.
            </div>
          </div>

          <!-- Phone Input block -->
          <div class="form-group row  pb-3">
            <label for="phoneid">Phone number</label>
            <input
              class="form-control"
              id="phoneid"
              placeholder="Enter Phone"
              v-model="$v.form.phone.$model"
              :class="{
                'is-valid': validateState('phone'),
                'is-invalid': validateState('phone') === false
              }"
            />
            <div class="invalid-feedback" v-if="!$v.form.phone.required">
              This field is required.
            </div>
            <div class="invalid-feedback" v-if="!$v.form.phone.phoneNumber">
              Please enter a valid phone number.
            </div>
            <div class="valid-feedback" v-if="!$v.form.phone.$error">
              Looks okay.
            </div>
          </div>

          <!-- Submit button block -->
          <div class="form-group row justify-content-center">
            <button type="submit" class="btn btn-outline-primary grow btn-lg">
              <span class="small align-text-top p-3">
                Add Contact
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required, email, minLength } from "vuelidate/lib/validators";

export default {
  name: "NewContact",
  data() {
    return {
      form: {
        id: null,
        name: "",
        email: "",
        phone: ""
      }
    };
  },
  validations: {
    form: {
      name: {
        required,
        minLength: minLength(4)
      },
      email: {
        required,
        email
      },
      phone: {
        required,
        phoneNumber: phoneNumber => {
          // eslint-disable-next-line
          return phoneNumber == "" || /^(\+)?[0-9]{7,}$/.test(phoneNumber)
        }
      }
    }
  },
  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? ($error ? false : true) : null;
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this.$store.commit("ADD_CONTACT", this.form);
      this.$router.push({ name: "Contacts" });
    }
  }
};
</script>

<style></style>
