<template>
  <div>
    <a
      type="button"
      class="btn-circle bg-secondary text-white grow"
      @click.prevent="$router.push({ name: 'NewContact' })"
    >
      +
    </a>
  </div>
</template>

<script>
export default {
  name: "AddNewButton"
};
</script>

<style lang="scss">
.btn-circle {
  display: block;
  margin: 36px;
  width: 60px;
  height: 60px;
  padding-top: 10px;
  position: fixed;
  bottom: 10px;
  right: 0px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
}
</style>
