<template>
  <div class="col-md-4 col-12 my-3 grow">
    <div
      class="card text-center shadow-sm rounded-0 cursor-pointer"
      @click="
        $router.push({ name: 'ViewContact', params: { contactId: contact.id } })
      "
    >
      <div class="card-header bg-primary text-white rounded-0 p-3">
        {{ contact.name }}
      </div>
      <div class="card-body text-vodagray p-2">
        <small>
          {{ contact.email }}
          <br />
          {{ contact.phone }}
        </small>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: ["contact"]
};
</script>

<style></style>
