<template>
  <div class="container mb-5">
    <div class="text-center">
      All Rights Reserved VSSB 2018.
    </div>
  </div>
</template>

<script>
export default {
  name: "FooterBar"
};
</script>
