<template>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <img
          src="@/assets/vodafone_logo.svg"
          class="cursor-pointer logo"
          @click="$route.path !== '/' ? $router.push({ name: 'Contacts' }) : {}"
        />
      </div>
      <div class="col-md-5 offset-md-4 d-none d-md-block">
        <input
          class="form-control"
          id="search"
          placeholder="Search for contact"
          v-model="filterText"
          v-on:keyup.enter="
            $route.path !== '/' ? $router.push({ name: 'Contacts' }) : {}
          "
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderBar",
  computed: {
    filterText: {
      get: function() {
        return this.$store.getters.getFilterText;
      },
      set: function(newValue) {
        this.$store.commit("UPDATE_FILTERTEXT", newValue);
      }
    }
  }
};
</script>

<style></style>
