@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');


/*** CUSTOM colors and themes **************/

// set color variables
$vodared: #e60000;
$vodablack: #191919;
$vodagray: #848484;
$vodadarkgray: #4c4c4c;

$primary: $vodablack;
$secondary: $vodared;
$vodagray: $vodagray;
$vodadarkgray: $vodadarkgray;

// This table defines the theme colors (variant names)
$theme-colors: ();
$theme-colors: map-merge(
  (
    'vodagray': $vodagray,
    'vodadarkgray': $vodadarkgray
  ),
  $theme-colors
); 
/*-----------------------------------------*/


/*** CUSTOM classes and overwrites *********/

// To have a class for the pointer
.cursor-pointer {
  cursor: pointer;
}

// Font-weight overwrite for h1 and h3 headers
h1 {
  font-weight: 800 !important;
}
h3 {
  font-weight: 800 !important;
}

// Red line under each h1 element
h1::after {
  display: table;
  width: 50px;
  height: 3px;
  margin: 4px auto;
  background-color: $vodared;
  content: '';
}

// Red hover (change text color to vodared)
@media (hover: hover) {
  .red-hover:hover {
    color: $vodared;;
  }
}

// Vodafone logo responsive size
.logo {
  width: auto;
}
@include media-breakpoint-up(md) {
  .logo {
    width: 250px;
  }
}
/*----------------------------------------*/


/*** Animations ***************************/

// Grow animation
.grow { 
  transition: all .2s ease-in-out; 
}
.grow:hover { 
  transform: scale(1.15); 
}

// Fade animation for the router-view
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .3s;
}
.fade-enter-active {
  transition-delay: .3s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
/*----------------------------------------*/


/*** Fonts ********************************/

// Load font faces for Open Sans
@font-face {
  font-family: "Open Sans";
  src: url("~@/assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("~@/assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("~@/assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

// Overwrite default font and font size
body {
  font-size: 15px !important;
  font-family: "Open Sans" !important;
}

/*----------------------------------------*/


@import 'node_modules/bootstrap/scss/bootstrap.scss';