<template>
  <div id="app" class="d-flex flex-column" style="min-height: 100vh;">
    <header-bar class="mt-3 mb-5"></header-bar>
    <transition name="fade">
      <router-view />
    </transition>
    <footer-bar></footer-bar>
  </div>
</template>

<script>
import HeaderBar from "@/components/HeaderBar.vue";
import FooterBar from "@/components/FooterBar.vue";

export default {
  components: {
    HeaderBar,
    FooterBar
  },
  created() {
    this.$store.dispatch("initialLoad");
  }
};
</script>

<style lang="scss">
// importing custom style to overwrite bootstrap default
@import "@/assets/custom-style.scss";
</style>
